<h4>Your Cart</h4>
<% @cart.each do |p| %>
<img src=<%= p["image_url"] %> alt="image" height="100" width="100">
<%= p["name"] %>
$<%= p["price"].to_f.round(2) %>
<br>
<% end %>
Total Price:
<% total_price = 0.00 %>
<% @cart.each do |p| %>
  <% total_price += p["price"].to_f.round(2) %>
<% end %>
$<%= total_price.round(2) %>
