<h4>Categories</h4>
<ol>
<% @categories.each do |c| %>
  <li>
  <img src=<%= c.image_url %> alt="image" height="100" width="100">
  <%= link_to c.name, c %>
  <%= c.description %>
  </li>
<% end %>
</ol>
