<h4><%= @category.name %></h4>
<ol>
<% @category.products.each do |p| %>
  <li>
  <img src=<%= p.images.first[:image_url] %> alt="image" height="100" width="100">
  <%= link_to p.name, p %>
  $<%= p.price.round(2) %>
  </li>
<% end %>
</ol>
